RE-index

In [4]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
from numpy.random import randn

In [13]:
ser1=Series([1,2,3,4],index=['a','b','c','d'])
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [51]:
ser2=ser1.reindex(['a','b','c','d','e'])
ser2

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [54]:
ser2.reindex(['a','b','c','d','e','f','g'],fill_value=0)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    0.0
g    0.0
dtype: float64

In [57]:
ser3=Series(['usa','mexico','canada'],index=[0,3,6])
ser3

0       usa
3    mexico
6    canada
dtype: object

In [58]:
df4=np.arange(15)

In [59]:
df4

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [60]:
ser3.reindex(df4,method='ffill')

0        usa
1        usa
2        usa
3     mexico
4     mexico
5     mexico
6     canada
7     canada
8     canada
9     canada
10    canada
11    canada
12    canada
13    canada
14    canada
dtype: object

In [68]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['a','b','d','e','f'],
             columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
a -1.173968 -0.464270  1.668238 -0.215194 -0.589984
b -0.689189  0.801946  0.661710  0.441176 -0.339835
d  0.701724  0.513570 -0.537786 -0.004600  0.456172
e  0.046372 -0.852378  1.082155  0.240939 -0.060287
f  0.425899  0.033499  0.446542  0.367194  1.934476

In [69]:
dframe2=dframe.reindex(['a','b','c','d','e'])
dframe2

       col1      col2      col3      col4      col5
a -1.173968 -0.464270  1.668238 -0.215194 -0.589984
b -0.689189  0.801946  0.661710  0.441176 -0.339835
c       NaN       NaN       NaN       NaN       NaN
d  0.701724  0.513570 -0.537786 -0.004600  0.456172
e  0.046372 -0.852378  1.082155  0.240939 -0.060287

In [70]:
dframe2

       col1      col2      col3      col4      col5
a -1.173968 -0.464270  1.668238 -0.215194 -0.589984
b -0.689189  0.801946  0.661710  0.441176 -0.339835
c       NaN       NaN       NaN       NaN       NaN
d  0.701724  0.513570 -0.537786 -0.004600  0.456172
e  0.046372 -0.852378  1.082155  0.240939 -0.060287

In [79]:
new_columns=['col1','col2','col3','col4','col5','col6']

In [80]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
a -1.173968 -0.464270  1.668238 -0.215194 -0.589984   NaN
b -0.689189  0.801946  0.661710  0.441176 -0.339835   NaN
c       NaN       NaN       NaN       NaN       NaN   NaN
d  0.701724  0.513570 -0.537786 -0.004600  0.456172   NaN
e  0.046372 -0.852378  1.082155  0.240939 -0.060287   NaN

In [86]:
dframe

       col1      col2      col3      col4      col5
a -1.173968 -0.464270  1.668238 -0.215194 -0.589984
b -0.689189  0.801946  0.661710  0.441176 -0.339835
d  0.701724  0.513570 -0.537786 -0.004600  0.456172
e  0.046372 -0.852378  1.082155  0.240939 -0.060287
f  0.425899  0.033499  0.446542  0.367194  1.934476